@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --form-control-color: #2C689C;
}

*:before,
*:after {
  box-sizing: border-box;
}

.carousel-container {
  max-width: 100%;
  margin-inline: auto;
}

.carousel-track {
  display: flex;
  padding-block: 1rem;
  flex-wrap: wrap;
  gap: 4rem;
}

.carousel-container[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
}

.carousel-container[data-animated="true"] .carousel-track {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 30s linear infinite;
}
.carousel-container[data-animated="true"]:hover .carousel-track {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 2rem));
  }
}

/* ---------------------------------------------------------------------------------------------- */

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

.home {
  overflow: hidden;
  position: relative;
  background-image: url("/hero/parallax/imgparallax1.png");
}

.home__parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home__parallax-img1 {
  background-image: url("/hero/parallax/imgparallax1.png");
  z-index: var(--z-normal);
}

.home__parallax-img2 {
  background-image: url("/hero/parallax/imgparallax2.png");
  z-index: var(--z-tooltip);
}

.home__parallax-img3 {
  background-image: url("/hero/parallax/imgparallax3.png");
  z-index: var(--z-fixed);
}

.home__parallax-img4 {
  background-image: url("/hero/parallax/imgparallax4.png");
  z-index: var(--z-fixed);
}

/* ---------------------------------------------------------------------------------------------- */

.pictureMainPhoto img:hover {
  cursor: zoom-in;
}

.zoom {
  display: block;
}
.hidden {
  display: none;
}

/* ---------------------------------------------------------------------------------------------- */

input[type=range] {
  height: 18px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2C689C;
  border-radius: 12px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 2px #000000;
  border: 0px solid #FFFFFF;
  height: 12px;
  width: 10px;
  border-radius: 8px;
  background: #E0F7FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2C689C;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #2C689C;
  border-radius: 12px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 2px #000000;
  border: 0px solid #FFFFFF;
  height: 12px;
  width: 10px;
  border-radius: 8px;
  background: #E0F7FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2C689C;
  border: 0px solid #000000;
  border-radius: 24px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2C689C;
  border: 0px solid #000000;
  border-radius: 24px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 2px #000000;
  border: 0px solid #FFFFFF;
  height: 12px;
  width: 10px;
  border-radius: 8px;
  background: #E0F7FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2C689C;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2C689C;
}

/* ---------------------------------------------------------------------------------------------- */

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background , transparent);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  min-width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 30%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}


input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

/* -------------------------------------------------------------- */

.homeClose{
  clip-path: circle(1px at 50% 3.5rem);
}

.homeOpen{
  clip-path: circle(100% at 50% 50%);
}

.buttonHome:hover{
  animation: rotate 1.3s alternate;
}

.logoutButton:hover > .svgLogoutButton{
  animation: rotate 1.3s alternate;
}

.linkToLogin:hover > .svgLinkToLogin {
  animation: rotate 1.3s alternate;
}

@keyframes rotate{
  0%{ transform: rotate(0deg);}
  20%{ transform: rotate(10deg);}
  40%{ transform: rotate(-15deg);}
  60%{ transform: rotate(15deg);}
  80%{ transform: rotate(-15deg);}
  100%{ transform: rotate(0deg);}
}

/* --------------------------------------------------- */

.slider .thumb{
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  background-color: #000;
  border-radius: 50%;
  
  top: -5px;
}

/* ---------------------------------------------------- */



 .filtersContainer::-webkit-scrollbar{
  width: 8px;
  border-radius: 12px;
}


.filtersContainer::-webkit-scrollbar-track {
  background-color: darkgrey;
}


.filtersContainer::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(5, 83, 114, 0.9);
  border-radius: 12px;
} 


/* ---------------------------------------------------- */

input[type="email"], input[type="password"], input[type="text"]{
  padding: .3rem .5rem;
  border-radius: 6px;
  outline: none;
  transition: border .125s ease;
  &:focus{
    border: 2px solid #2C689C;
  }
}

/* ---------------------------------------------------- */

.cardRegister{
  background-image: url('../../public/login/bgcard.png');
  background-size: cover;
  background-position: bottom;
  
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}